* {
	margin: 0;
	padding: 0;
}
#header {
	display: flex;
}
#video-container {
	display: flex;
	position: absolute;
	overflow: hidden;
	width: 177.77777778vh;
	min-width: 100%;
	min-height: 450px;
	user-select: none;
	pointer-events: none;
}
#video {
	flex: 1 1 200px;
	top: -450px;
	left: 0em;
	position: absolute;
	margin: 0 auto;
	width: 300%;
	height: 1000px;
	margin-left: -100%;
	background-size: cover;
	background: no-repeat center;
	z-index: -2;
	overflow-clip-margin: 20px;
	filter: blur(0.4px);
}
.grainyoverlay {
	flex: 1 1 200px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	mix-blend-mode: multiply;
	background: linear-gradient(to right, rgb(113, 79, 0), transparent), url(https://grainy-gradients.vercel.app/noise.svg);
	filter: contrast(170%) brightness(1000%) blur(2px);
}
.overlay {
	flex: 1 1 200px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
	filter: sepia(50%);
	mix-blend-mode: multiply;
}
#nav-bar {
	position: fixed;
	top: 0px;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	gap: 2em;
	flex-flow: nowrap row;
}
.nav-link {
	position: relative;
	flex: 1 1 200px;
	display: flex;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
	top: 3em;
	width: 100%;
	justify-content: center;
}
#header-img {
	filter: invert(100%) sepia(90%) saturate(526%) hue-rotate(253deg) brightness(113%) contrast(101%);
}
#starred {
	background: white;
}
